# Airflow Configs
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# Postgres Meta DB
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Postgres Analytics DB
ANALYTICS_DB_USER=analytics_user
ANALYTICS_DB_PASSWORD=analytics_pass
ANALYTICS_DB_NAME=youtube_analytics
ANALYTICS_DB_HOST=analytics-db
ANALYTICS_DB_PORT=5432

# YouTube API
YOUTUBE_API_KEY=your_google_cloud_api_key_here
YOUTUBE_REGION_CODE=US
YOUTUBE_CATEGORY_IDS=1,2,10,15,17,20,22,23,24,25,26,27,28

# Data Lake Paths
DATA_LAKE_BASE_PATH=./data
